<form action="/notes/" method="post">
  <div class="imgcontainer"/>

  <div class="container">
    <label for="header"><b>Create notes for abhishek.ad.sharma</b></label>
  </div><br>

  <div class="container">
    <label for="title"><b>Note Title</b></label>
    <input type="text" placeholder="Enter Note Title" name="title" required>
  </div><br>
  <div class="container">
    <label for="content"><b>Description</b></label>
    <input type="text" placeholder="Enter Title Description" name="content" required>
  </div><br>
  <div class="container">
    <label for="username"><b>User</b></label>
    <input type="text" placeholder="username" name="username">
  </div><br>
  <div class="container">
<label for="status"><b>Status</b></label>
  <select name="status" id="status">
    <option value="not_started">Not started</option>
    <option value="in_progress">In progress</option>
    <option value="finished">finished</option>
  </select>
</div><br>
<div>
    <button type="submit">Create</button>&nbsp;
</div>
</form>